<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
this is contest list page
<div class="main">
    <a href="/contest/register" class="register">게시물 작성</a>
    <table>
        <thead>
        <tr>
            <th>도안 이미지</th>
            <th>도안 제목</th>
            <th>작성자</th>
            <th>작성 일자</th>
            <th>도안 설명</th>
            <th>조회수</th>
            <th>스크랩 수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contest : ${contest}">
            <td th:text="${contest.postImg}"></td>
            <td><a href="@{/contest/detail/{postId}(postId=${contest.postId})}" th:text="${contest.postName}"></a></td>
            <td th:text="${contest.userId}"></td>
            <td th:text="${#temporals.format(contest.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${contest.postDes}"></td>
            <td></td>   <!-- 조회수 -->
            <td><!--<div sec:authorize-expr="isAuthenticated()" or th:unless="${#strings.equals(contest.getUser_id(),login_id)}" class="d-block">
                &lt;!&ndash; 로그인 유저와 작성자가 동일하지 않다면 &ndash;&gt;
                &lt;!&ndash; 좋아요 &ndash;&gt;
                <input type="hidden" id="like_check" th:value="${like}">
                <img th:id="likeImg" src="/assets/img/like_empty.png" alt="" width="30px"
                     height="30px">

                <span th:text="${contest.scrapCount}"></span>
            </div>
                <div sec:authorize-expr="!isAuthenticated()">
                    &lt;!&ndash; 로그인하지 않은 유저라면 &ndash;&gt;
                    <img id="loginCheck" src="/assets/img/like_empty.png" alt="" width="30px"
                         height="30px">
                    <span th:text="${contest.scrapCount}"></span>
                </div>-->
            </td>   <!-- 스크랩 수 -->
        </tr>
        </tbody>
    </table>
</div>

<!--<script>

    const clickLikeUrl = "/assets/img/like_click.png";
    const emptyLikeUrl = "/assets/img/like_empty.png";

    /** 좋아요 유무에 따라 하트 그림 다르게 보여줌 **/
    //브라우저가 웹 문서를 읽기 시작하고 DOM이 생성되면 실행되는 메소드
    $(function(){

        // 현재 로그인한 유저가 해당 게시물을 좋아요 했다면 likeVal = true,
        // 좋아요하지 않았다면 false
        let likeVal = $('#like_check').val(); // 데이터가 있으면 true
        const likeImg = $('#likeImg');

        console.log("likeVal : " + likeVal);

        if(likeVal === 'true'){
            // 데이터가 존재하면 화면에 채워진 하트 보여줌
            $('#likeImg').attr("src", clickLikeUrl);
        } else if(likeVal === 'false'){
            // 데이터가 없으면 화면에 빈 하트 보여줌
            $('#likeImg').attr("src", emptyLikeUrl);
        }
    });

    /** 좋아요 클릭 시 실행 **/
    $('#likeImg').click(function() {

        const postId = $('#postId').val();
        const likeVal = $('#like_check').val();

        console.log(likeVal);
        if (likeVal === 'true') {
            const con_check = confirm("현재 게시물 추천을 취소하시겠습니까?")
            if (con_check) {
                console.log("추천 취소 진입");
                $.ajax({
                    type: 'POST',
                    url: '/rest/community/post/like/' + postId,
                    contentType: 'application/json; charset=utf-8'
                }).done(function () {
                    $('#likeImg').attr("src", emptyLikeUrl);
                    location.reload();
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                })
            }
        } else if(likeVal === 'false'){
            const con_check = confirm("현재 게시물을 추천하시겠습니까?");
            if (con_check) {
                console.log("추천 진입");
                $.ajax({
                    type: 'POST',
                    url: '/rest/community/post/like/' + postId,
                    contentType: 'application/json; charset=utf-8'
                }).done(function () {
                    $('#likeImg').attr("src", clickLikeUrl);
                    location.reload();
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                })
            }
        }
    });

    /** 로그인하지 않은 유저가 좋아요 누를 때 **/
    $('#loginCheck').click(function(){
        alert("로그인 후 이용할 수 있습니다.");
    });

</script>-->

</body>
</html>