{% extends 'base.html' %}
{% block title %} IDEA Edit {% endblock %}

{% block boxtitle %}Idea Detail Update{% endblock %}
{% block message %}아이디어 세부내용 수정 페이지 입니다. 아이디어를 구체화하거나 내용을 변경해 보아요.{% endblock %}

{% block content %}
    <div class="new_idea d-grid mt-4">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="mt-4">
                {{ form.as_table }}
            </table>

            <div class="submit_btn text-center my-3"><input type="submit" value="SUBMIT"/></div>
        </form>
    </div>

{% endblock %}