{% extends 'base.html' %}
{% block title %} IDEA Form {% endblock %}

{% block boxtitle %}Idea Register{% endblock %}
{% block message %}아이디어 등록 페이지 입니다. 당신의 아이디어를 잊지 말고 기록하세요!{% endblock %}

{% block content %}
    <div class="new_idea d-grid mt-4">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="mt-4">
                {{ form.as_table }}
            </table>

            <div class="submit_btn text-center mt-2 mb-4"><input type="submit" value="SUBMIT"/></div>
        </form>
    </div>

{% endblock %}