:root {
    --basic-black :rgb(31, 31, 31);
    --basic-black2: rgb(48, 48, 48);
    --basic-white : #fff;
    --point-yellow :rgb(215, 255, 151);
    --point-yellow2: rgb(207, 255, 130);
    --background: rgba(155, 155, 155, 0.8);
    --box-background: rgba(203, 239, 255, 0.863);
    --shadow-gray :rgba(61, 61, 61, 0.938);
    --detail-gray: rgb(53, 53, 53);
    --point-blue: rgb(27, 11, 255);
    --btn-red: rgb(235, 95, 95);
    --btn-white: rgb(230, 230, 230);
    --btn-blue: rgb(95, 156, 235);
    --hover-gray: rgb(173, 171, 171);
    --line-gray: rgb(220, 218, 218);
}
