<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
this is new letter update page!!
    <div class="main">
        <form method="post" th:action="@{/newletter/update}">

            <!-- 작성자
            <label for="nickname">작성자 닉네임 :</label>
            <input type="text" name="nickname" id="nickname" th:value="${user.nickname}"> <br>
            -->

            <input type="hidden" name="letter_id" id="letter_id" th:value="${newletter.letter_id}">
            <label for="tag">문구 번호(tag) :</label>
            <input type="text" name="tag" id="tag" th:value="${newletter.tag}"> <br>
            <label for="letter">내용 :</label>
            <textarea name="letter" id="letter" th:text="${newletter.letter}"></textarea> <br>
            <input type="hidden" name="letter_id" id="letter_id" th:value="${letter.letterId}">
            <label for="tag">문구 번호(tag) :</label>
            <input type="text" name="tag" id="tag" th:text="${letter.tag}"> <br>
            <label for="content">내용 :</label>
            <textarea name="content" id="content" th:text="${letter.content}"></textarea> <br>
            <button type="submit">수정</button>
        </form>
    </div>
</body>
</html>