<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="user_detail container">
    <h1 class="py-3 text-center">마이페이지</h1>

    <div class="flex-column">
        <div class="my-2">
            <span th:text="'닉네임 : ' + ${userNickname}"></span>
        </div>
        <div class="my-2">
            <span th:text="'ID : ' + ${userEmail}"></span>
        </div>
        <div class="my-2">
            <span><a th:href="@{'/users/update-pw/'+${userId}}">비밀번호 변경하기</a></span>
        </div>
        <div class="my-2">
            <span th:text="'자기소개 : ' + ${userIntro}"></span>
        </div>
    </div>

    <a class="btn btn-primary" type="button"
            th:href="@{'/users/update/'+ ${userId}}">
        개인정보 수정
    </a>
    <a class="btn btn-secondary" type="button"
            th:href="@{'/users/delete/'+ ${userId}}" >
        회원 탈퇴
    </a>
<!--    <span th:text="'프로필 사진' + '${userImage}'"></span>-->
</div>
</body>
</html>