<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8" />
<link th:href="@{/css/bootstrap.min.css}"
      href="css/bootstrap.min.css" rel="stylesheet">

<!--    공통 CSS, javascript 파일-->
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<script src="/js/index.js" defer></script>
</head>

<body>
<!--    header fragment 사용-->
    <th:block th:replace="fragments/header::headerFragment"></th:block>
<!--    content fragment 사용-->
    <th:block layout:fragment="content"></th:block>
<!--    footer fragment 사용-->
    <th:block th:replace="fragments/footer::footerFragment"></th:block>
</body>

</html>