/* body */


/* NaviHeader */
.NaviHeader {
  overflow: hidden;
  
  background-color: pink;
  padding: 10px 10px; /* 줄어들기 전의 navbar 크기 */
  transition: 0.4s; /* 패딩 줄어들 때 지연 */
  position: fixed; /* sticky/fixed */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* 로고 속성 */
#logo {
  color: black;
  font-size: 45px;
  font-weight: bold;
  text-decoration: none;
}

/* Navbar 링크 속성 지정 */
.NaviHeader .menu {
  color: black;
  text-decoration: none;
  padding: 12px;
  
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;

  transition: 0.5s;
}


/* 링크에 hover  */
.NaviHeader .menu:hover {
  background-color: cornsilk;
}

.NaviHeader .menu.active:hover {
  background-color: cornsilk;
}


/* ContentHeader */
.ContentHeader {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.ContentHeader dt {
  margin-left: 7%;
  font-size: 25px;
  font-weight: bold;
}

.ContentHeader dd {
  font-size: 15px;
  color: gray;
  margin-left: 10px;
  font-weight: normal;
}


/* LETTERING */
.Lettering .lettering_type {
  display: flex;
  justify-content: center;
}

.Lettering #birthday {
  overflow-x: hidden;
  overflow-y: hidden;
}

.Lettering h3 {
  font-size: 15px;
  padding: 3px;
  margin: 3px;
  border-style: outset;
  border-radius: 3px;
}

.Lettering .box {
  position: relative;
  width: 100%;
  text-align: center;
}

.Lettering h2 {
  text-align: center;
}

.Lettering pre {
  display: inline-block;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  border-radius: 5px;
  padding: 9px 17px;
  margin: 0 6px 8px 6px;
  vertical-align: middle;
  box-shadow: 0 0 4px rgb(0 0 0 / 15%);
  -webkit-transition: width 1s, height 3s;
  transition: width 1s, height 3s;
}

.Lettering pre:hover {
  color: pink;
  transition: 0.15s ease-in-out;
  background: rgba(255, 255, 255);
  box-shadow: 0 0 8px #ddd;
  transform: scale(1.5);
}
pre {
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

/* Login */
.Login {
  margin-top: 100px;

}

/* SignUp */
.SignUp {
  margin-top: 100px;
}

.SignUp .SignUpAll {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.SignUp .text {
  color: pink;
  font-size: 13px;
  padding: 3px;
}

.SignUp .table{
  font-size: 15px;
  border: 2px solid pink;
  
  padding: 6% 4% 6% 4%;
}

.SignUp .tr {
  
}

.SignUp .tableData {
  display: flex;
  
  align-items: center;
}

.SignUp .tableText{
  font-size: 13px;
  color: pink;
}

.SignUp .th {
  width: 30%;
  justify-content: center;
}

.SignUp .td {
  width: auto;
}

.SignUp .inLine {
 display: flex;
}

.SignUp .content {
  width: fit-content;
}

.SignUp button {
  
}

.SignUp .okButton {
}

.SignUp .signButton {
  
}

/* MyPage */
.MyPage {
  margin-top: 100px;

}

/* MyCake */
.MyCake {
  margin-top: 100px;

}